<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar app>
                Dog search
            </v-app-bar>
            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-col 
                        v-for="(dogType, index) in dogTypes"
                        v-bind:key="index"
                        cols="6" md="4">
                            <v-btn v-on:click="fetchDogImage(index)" color="cyan" dark>
                                {{dogType}}
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row v-show="isShow">
                        <v-col v-for="dogImage in dogImages" v-bind:key="dogImage" cols="12" sm="6" md="4">
                            <v-card>
                                <v-img v-bind:src="dogImage"></v-img>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <v-footer>
                Kazuya
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="js/dogApi.js"></script>
</body>
</html>
